<?xml version="1.0" encoding="UTF-8"?>
<!-- 해당 xml에서 사용할 태그 규칙 지정 dtd
	mybatis 태그 규칙을 적용하기 위해 mtbatis에서 제공하는 dtd -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <!-- 특정 Repository interface와 연결 설정 -->
 <mapper namespace="com.songjae.spring.ex.database.repository.UsedGoodsRepository">
 	<!-- 연결된 Repository의 특정 메소드에 대한 구현 (query) -->
 	<select id="selectUsedGoodsList" resultType="com.songjae.spring.ex.database.domain.UsedGoods">
 		SELECT `id`
 				, `sellerId`
 				, `title`
 				, `description`
 				, `image`
 				, `createdAt`
 				, `updatedAt`
 		 FROM `used_goods`
 	</select>
 
 
 </mapper>