<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>날짜 문자열 다루기</title>
</head>
<body>

	<h2>날짜, 문자열 다루기</h2>
	
	<h3>1. 날짜 시간 객체</h3>
	
	<!-- 밑의 3개는 문자열이 아닌 객체인데 Thymeleaf에서 호출하면 toString으로 문자열로 바꿔 문자열로 출력해준다 -->
	<h4 th:text="|Date :${date}|"></h4>
	<h4 th:text="|localDate : ${localDate}|"></h4>
	<h4 th:text="|localDateTime : ${localDateTime}|"></h4>
	
	<h4 th:text="|Date : ${#dates.format(date, 'yyyy년 M월 d일 H시 m분 s초')}|"></h4>
	<h4 th:text="|localDate : ${#temporals.format(localDate, 'yyyy년 MM월 dd일')}|"></h4>
	<h4 th:text="|localDateTime : ${#temporals.format(localDateTime, 'yyyy/MM/dd hh:mm:ss')}|"></h4>

	<h3>2. 문자열 메소드</h3>
	<div th:with="string1 = 'No pain. No gain'">
		<h4 th:text="|문자열 길이 : ${#strings.length(string1)}|"></h4>
		<h4 th:text="|No가 존재 하는지 : ${#strings.contains(string1, 'No')}|"></h4>
		
		<h4>특정 문자열로 시작, 끝나는지 확인</h4>
		<h4 th:if="${#strings.startsWith(string1, 'No')}">No로 시작한다</h4>
		<h4 th:if="${#strings.endsWith(string1, 'gain')}">gain으로 끝난다</h4>
	</div>
	
	<div th:with="string2 = 'I love chicken'">
		<h4>문자열 치환</h4>
		<h4 th:text="${#strings.replace(string2, 'chicken', 'pizaa')}"></h4>
		<h4 th:text="${string2}"></h4>
		
		<h4>문자열 자르기</h4>
		<h4 th:text="${#strings.substring(string2, 2, 6)}"></h4>
	
		<h4>문자열 쪼개기</h4>
		<h4 th:text="${#strings.arraySplit(string2, ' ')[0]}"></h4>
	</div>
	
	<div th:with="string3 = '             hello            '">
		<h4 th:text="${string3}"></h4> <!-- html은 기본적으로 공백을 표현해주지 않는다 -->
		<textarea th:text="${string3}"></textarea>
		
		<textarea th:text="${#strings.trim(string3)}"></textarea>
	
	</div>
</body>
</html>